doctype html
html
    head
        title Room - Text-only adventure
        meta(name='description', content="Room is a text-only conversation adventure through another universe. The universe is filled with colorful characters and untold discoveries.")
        meta(charset='utf-8')
        link(rel='shortcut icon', href='/img/favicon.png')
        meta(property='og:image', content='http://entertheroom.io/img/medium-image.png')
        meta(property='og:type', content='website')
        meta(property='twitter:image', content='http://entertheroom.io/img/medium-image.png')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
        meta(name='apple-mobile-web-app-capable', content='yes')
        link(rel='stylesheet', href='/css/font-awesome.min.css')
        link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet')
        link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Oswald:400,500,700')
        link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Raleway:400,500,700')
        link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Arimo:400,500,700')
        link(rel='stylesheet', href="#{base_url || ''}/css/app.css")
    body
        #app
            .app.home-page
                .content
                    .menu
                        h1 Room
                        p.home-description A text-only conversational adventure game.
                        a.menu-link(href='/levels/1') Begin

        script.
            //- window.user = !{JSON.stringify(user)};
            window.client_key = "#{client_key}";

        script.
            window.level = !{JSON.stringify(level)}

        script(src='/js/ga.js')
        script(src='/socket.io/socket.io.js')

